@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This app is created to show how can be created a shopping cart.</p>
<p>The technology used for the project are:</p>
<ol>
    <li>Mvc Core 2.0</li>
    <li>Entity Framework core</li>
    <li>Sql Server LocalDb</li>
    <li>Visual Studio 2017</li>
</ol>
